@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&family=Cedarville+Cursive&display=swap");
:root {
  --page-height: 900px;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

#dropdown {
  width: 100vw;
  top: 100%;
  height: 0vh;
  background-color: #6b3b4e;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: fixed;
  z-index: 1000;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#dropdown #ddColOne, #dropdown #ddColTwo {
  width: 20vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#dropdown #ddColOne a, #dropdown #ddColTwo a {
  -webkit-transition: color 1s;
  transition: color 1s;
  font-size: 4vmax;
  text-decoration: none;
  color: black;
}

#dropdown.showDD {
  height: 100vh;
  top: 0;
}

#dropdown.showDD #ddColOne a, #dropdown.showDD #ddColTwo a {
  color: #f1ede8;
}

#firstPane {
  width: 100vw;
  position: relative;
  height: var(--page-height);
  background-color: #f1ede8;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: auto;
}

#firstPane #logo {
  position: absolute;
  left: 10%;
  top: 5%;
}

#firstPane #logo img {
  width: 25%;
  height: 25%;
}

#firstPane #dropdownOuter {
  position: absolute;
  right: 8%;
  top: 40px;
  z-index: 1001;
}

#firstPane #dropdownOuter #dropdownIcon.showDD span:after {
  border-bottom: 2px solid #f1ede8;
}

#firstPane #dropdownOuter #dropdownIcon.showDD #ddSpanOne {
  -webkit-transform: translate(-20%, 100%) rotate(45deg);
          transform: translate(-20%, 100%) rotate(45deg);
}

#firstPane #dropdownOuter #dropdownIcon.showDD #ddSpanTwo {
  opacity: 0;
}

#firstPane #dropdownOuter #dropdownIcon.showDD #ddSpanThree {
  -webkit-transform: translate(-1%, -135%) rotate(-45deg);
          transform: translate(-1%, -135%) rotate(-45deg);
}

#firstPane #dropdownOuter #dropdownIcon {
  width: 2.4vmax;
  height: 2.4vmax;
  cursor: pointer;
}

#firstPane #dropdownOuter #dropdownIcon span {
  position: relative;
  width: 100%;
  height: 0.8vmax;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#firstPane #dropdownOuter #dropdownIcon span:after {
  content: "";
  display: block;
  border-bottom: 2px solid #6b3b4e;
}

#firstPane #dropdownOuter #dropdownIcon #ddSpanOne:after, #firstPane #dropdownOuter #dropdownIcon #ddSpanThree:after {
  width: 80%;
}

#firstPane #dropdownOuter #dropdownIcon #ddSpanTwo:after {
  width: 40%;
}

#firstPane #firstPaneTextDiv {
  width: 50%;
  height: 40%;
}

#firstPane #firstPaneTextDiv #firstPaneText {
  font-size: 5vmax;
  text-align: center;
  color: #6b3b4e;
}

#secondPane {
  margin: 0;
  padding: 0;
  position: relative;
  height: var(--page-height);
  width: 100vw;
  background-color: #6b3b4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#secondPane #cardDiv {
  width: 80%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#secondPane #cardDiv #cardOne #cardOneImg {
  background-image: url("img/typewriter-back.png"), url("img/typewriter-front.png");
}

#secondPane .card {
  height: 90%;
  width: 25%;
  min-width: 200px;
  background-color: #6b3b4e;
  position: relative;
  z-index: 2;
}

#secondPane .cardImg {
  position: absolute;
  width: 13vw;
  height: 13vw;
  background-color: #3E3940;
  z-index: 4;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5px;
  -webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  background-size: 100%;
  background-blend-mode: darken, normal;
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
  top: 0%;
  min-width: 128px;
  min-height: 128px;
}

#secondPane .cardImg img {
  width: 150%;
  height: auto;
  border-radius: 5px;
}

#secondPane .cardContent {
  position: absolute;
  height: 90%;
  width: 100%;
  background-color: #f1ede8;
  z-index: 3;
  bottom: 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#secondPane .cardContent .cardContentText {
  color: #6b3b4e;
  width: 70%;
  height: 40%;
  position: absolute;
  bottom: 8%;
  left: 15%;
}

#secondPane .cardContent .cardContentText h3 {
  font-family: 'Montserrat', sans-serif;
}

#secondPane .cardContent .cardContentText .timing {
  color: #6C6781;
  white-space: nowrap;
  position: absolute;
  bottom: -15%;
  right: -10%;
  width: 60%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#secondPane .cardContent .cardContentText .timing img {
  width: 12%;
}

#secondPane .cardContent .down {
  position: absolute;
  bottom: -4%;
  width: 15%;
  height: 15%;
  left: 10%;
  cursor: pointer;
}

#secondPane #learnMore {
  background-color: #6b3b4e;
}

#secondPane #learnMore:before {
  background-color: #f1ede8;
}

#secondPane #learnMore span {
  color: #f1ede8;
}

#secondPane #learnMore:hover #learnMoreSpan {
  color: #6b3b4e;
}

button {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2vmax;
  cursor: pointer;
  position: relative;
  outline: none;
  border: none;
  height: 5%;
  width: 10%;
  bottom: 5%;
}

button:before {
  content: "";
  z-index: 1;
  position: absolute;
  display: block;
  height: 1px;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transition: height .2s;
  transition: height .2s;
}

button span {
  position: relative;
  z-index: 5;
  -webkit-transition: color .3s;
  transition: color .3s;
}

button:hover:before {
  height: 100%;
}

.headers {
  position: relative;
  left: 10%;
  top: 5%;
  font-size: 3vmax;
  color: #f1ede8;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

#thirdPane {
  height: var(--page-height);
  background-color: #3E3940;
  position: relative;
  background-image: url("img/leaf.svg");
  background-size: 40% 60%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

#thirdPane h2 {
  position: absolute;
  margin-top: 5%;
}

#thirdPane #thirdContent {
  color: #f1ede8;
  width: 60%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Cedarville Cursive', cursive;
  font-family: 'Calligraffitti', cursive;
}

#thirdPane #thirdContent h3 {
  font-size: 4vw;
}

#thirdPane #thirdContent h3 img {
  width: 2vw;
  height: 2vw;
  margin-bottom: 2%;
}

#thirdPane #thirdContent h4 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 3vw;
}

#thirdPane #ourMission {
  background-color: #3E3940;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 10%;
}

#thirdPane #ourMission:before {
  background-color: #f1ede8;
}

#thirdPane #ourMission span {
  color: #f1ede8;
}

#thirdPane #ourMission:hover #ourMissionSpan {
  color: #3E3940;
}

#fourthPane {
  height: var(--page-height);
  position: relative;
  background-color: #6b3b4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#fourthPane #fourthContent {
  position: relative;
  height: 50%;
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  place-items: center;
  gap: 10%;
}

#fourthPane #fourthContent #imgNine {
  width: 50%;
}

#fourthPane #fourthContent img {
  width: 60%;
  height: auto;
}

#fourthPane #seeMore {
  background-color: #6b3b4e;
  margin-top: 5%;
}

#fourthPane #seeMore:before {
  background-color: #f1ede8;
}

#fourthPane #seeMore span {
  color: #f1ede8;
}

#fourthPane #seeMore:hover #seeMoreSpan {
  color: #6b3b4e;
}

#fifthPane {
  height: calc(var(--page-height) * .80);
  background-color: #f1ede8;
  padding: 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
  text-align: center;
}

#fifthPane #fifthContent {
  width: 60%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#fifthPane #fifthContent h3 {
  font-size: 4vmax;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#fifthPane #fifthContent p {
  font-size: 2vmax;
}

#fifthPane #fifthContent label {
  display: none;
}

#fifthPane #fifthContent input {
  outline: none;
  border: 1px solid black;
  padding: 10%;
  background-color: #f1ede8;
  margin-top: 35%;
  margin-left: -5%;
}

#fifthPane #fifthContent input:invalid {
  border: 2px solid #6b3b4e;
}

#fifthPane #fifthContent input:valid {
  border: 2px solid #558c4f;
}

#fifthPane #emailSubmit {
  background-color: #f1ede8;
  position: absolute;
  bottom: 10%;
  height: 6.25%;
}

#fifthPane #emailSubmit:before {
  background-color: #6b3b4e;
}

#fifthPane #emailSubmit span {
  color: #3E3940;
}

#fifthPane #emailSubmit:hover #emailSubmitSpan {
  color: #f1ede8;
}

#footerDiv {
  height: calc(var(--page-height) * .2);
  width: 100vw;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #6b3b4e;
  overflow: hidden;
}

#footerDiv #footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

#footerDiv #footer a {
  text-decoration: none;
  color: #f1ede8;
  font-size: 2vmax;
}

@media screen and (max-width: 1300px) {
  #secondPane .cardImg {
    top: 5%;
  }
}

@media screen and (max-width: 1100px) {
  #secondPane .cardImg {
    top: 8%;
  }
}

@media screen and (max-width: 1000px) {
  #secondPane .cardImg {
    top: 15%;
  }
}

@media screen and (max-width: 800px) {
  .button {
    width: 25%;
    font-size: 2vmax;
  }
  .headers {
    font-size: 5vmax;
  }
  #secondPane #cardDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #secondPane .card {
    width: 80%;
  }
  #secondPane .cardImg {
    left: 2%;
    top: 0px;
    display: relative;
    min-width: 50px;
    min-height: 50px;
  }
  #secondPane .cardContent {
    left: 5%;
    position: relative;
  }
  #secondPane .cardContent .cardContentText {
    width: 90%;
    height: 80%;
    position: absolute;
    top: 5%;
    left: 20%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 60% 50%;
    -ms-grid-columns: 50% 30%;
        grid-template: 60% 50%/ 50% 30%;
    place-items: center;
    text-align: center;
  }
  #secondPane .cardContent .cardContentText h3, #secondPane .cardContent .cardContentText p, #secondPane .cardContent .cardContentText img {
    position: relative;
  }
  #secondPane .cardContent .cardContentText .timing {
    position: unset;
    width: unset;
  }
  #secondPane .cardContent .cardContentText .timing img {
    margin: 1vw;
    width: 3vw;
  }
  #secondPane .cardContent .down {
    width: 4vw;
    height: 4vw;
    position: static;
  }
  #secondPane #fourthPane #fourthContent {
    height: 70%;
    gap: 0;
  }
}

@media screen and (max-width: 800px) and (max-width: 450px) {
  #secondPane #cardDiv {
    height: 60%;
  }
  #secondPane .card {
    width: 90%;
    left: 5%;
    display: relative;
    height: 25%;
  }
  #secondPane .card .cardImg {
    min-width: 70px;
    min-height: 70px;
  }
  #secondPane .cardContent .cardContentText .timing {
    font-size: 3vw;
  }
  #secondPane .cardContent h3 {
    font-size: 4vw;
  }
  #secondPane .cardContent .cardText {
    font-size: 3vw;
  }
}

@media screen and (max-width: 800px) {
  #thirdPane #thirdContent h3 {
    font-size: 6vw;
  }
  #thirdPane #thirdContent h3 img {
    width: 4vw;
    height: 4vw;
  }
  #thirdPane #thirdContent h4 {
    font-size: 5vw;
  }
  #fourthPane #fourthContent {
    height: 50%;
  }
  #fourthPane h3 {
    font-size: 6vmax;
  }
  #fourthPane p {
    font-size: 4vmax;
  }
  #footerDiv #footer {
    width: 95%;
  }
}
/*# sourceMappingURL=styles.css.map */