@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
$mainRed: #6b3b4e;
$mainTan: #f1ede8;
$mainBlue: #6C6781;
$mainGreen: #8A867D;


$lightAccent: #A3886F;
$darkAccent: #8B6D76;
$black: #3E3940;


$deepShadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 
0 4px 25px 0px rgba(0, 0, 0, 0.12), 
0 8px 10px -5px rgba(0, 0, 0, 0.2);

:root {
    --page-height: 0px;
    --page-width: 0px;
}

html, body{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

#dropdown{
    width: 100vw;
    top: 100%;
    height: 0vh;
    background-color: $mainRed;
    transition: all .5s;
    position: fixed;
    z-index: 1000;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    #ddColOne, #ddColTwo{
        width: 20vw;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        a{
            transition: color 1s;
            font-size: 4vmax;
            text-decoration: none;
            color: black;
        }
    }
}

#dropdown.showDD{
    height: 100vh;
    top: 0;

    #ddColOne, #ddColTwo{
        a{
            color:$mainTan;
        }
    }
}

#firstPane{
    width: 100vw;
    position: relative;
    height: var(--page-height);
    background-color: $mainTan;
    display: grid;
    place-items: center;
    overflow: auto;

    #logo{
        position: absolute;
        left: 10%;
        top: 5%;
        img{
            width: 25%;
            height: 25%;
        }
    }

    #dropdownOuter{
        position: absolute;
        right: 8%;
        top: 40px;
        z-index: 1001;

        #dropdownIcon.showDD{
            span{
                &:after{
                    border-bottom: 2px solid $mainTan;
                }
            }
            #ddSpanOne{
                transform: translate(-20%, 100%) rotate(45deg);
            }
        
            #ddSpanTwo{
                opacity: 0;
            }
        
            #ddSpanThree{
                transform: translate(-1%, -135%)rotate(-45deg);
            }
        }

        #dropdownIcon{
            width: 2.4vmax;
            height: 2.4vmax;
            cursor: pointer;

            span{
                position: relative; 
                width: 100%;
                height: 0.8vmax;
                display: block;
                transition: all .3s;

                &:after{
                    content: "";
                    display: block;
                    border-bottom: 2px solid $mainRed;
                }
            }

            #ddSpanOne, #ddSpanThree{
                &:after{
                    width: 80%;
                }
            }

            #ddSpanTwo{
                &:after{
                    width: 40%;
                }
            }
        }
    }
    #firstPaneTextDiv{
        width: 50%;
        height: 40%;

        #firstPaneText{
            font-size: 5vmax;
            text-align: center;
            color: $mainRed;
        }
    }
}

#secondPane{
    margin: 0;
    padding: 0;
    position: relative;
    height: var(--page-height);
    width: 100vw;
    background-color: $mainRed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    #cardDiv{
        margin-top: 8%;
        width: 80%;
        height: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        #cardOne{
            #cardOneImg{
                background-image: url("/img/typewriter-back.png"), 
                url("/img/typewriter-front.png")
            }
        }
    }

    .card{
        height: 90%;
        width: 25%;
        min-width: 200px;
        background-color: $mainRed;
        position: relative;
        z-index: 2;
    }

    .cardImg{
        position: absolute;
        width: 13vw;
        height: 13vw;
        background-color: $black;
        z-index: 4;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
        box-shadow: $deepShadow;
        background-size: 100%;
        background-blend-mode: darken, normal;
        background-repeat: no-repeat;
        display: grid;
        place-items: center;
        overflow: hidden;
        top: 0%;
        min-width: 128px;
        min-height: 128px;

        img{
            width: 150%;
            height: auto;
            border-radius: 5px;
        }
    }

    .cardContent{
        position: absolute;
        height: 90%;
        width: 100%;
        background-color: $mainTan;
        z-index: 3;
        bottom: 0;
        border-radius: 5px;
        box-shadow: $deepShadow;
        overflow: hidden;

        .cardContentText{
            color: $mainRed;
            width: 70%;
            height: 40%;
            position: absolute;
            bottom: 8%;
            left: 15%;

            h3{
                font-family: 'Montserrat', sans-serif;
            }

            .timing{
                color: $mainBlue;
                white-space: nowrap;
                position: absolute;
                bottom: -15%;
                right: -10%;
                width: 60%;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                img{

                    width: 12%;
                }
            }
        }

        .down{
            position: absolute;
            bottom: -4%;
            width: 15%;
            height: 15%;
            left: 10%;
            cursor: pointer;
        }
    }

    #learnMore{
        background-color: $mainRed;

        &:before{
            background-color: $mainTan;
        }

        span{
            color: $mainTan;
        }

        &:hover{
            #learnMoreSpan{
                color: $mainRed;
            }
        }
    }
}

button{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2vmax;
    cursor: pointer;
    position: relative;
    outline: none;
    border: none;
    height: 5%;
    width: 10%;
    bottom: 5%;

    &:before{
        content: "";
        z-index: 1;
        position: absolute;
        display: block;
        height: 1px;
        left: 0;
        bottom: 0;
        width: 100%;
        transition: height .2s;
    }

    span{
        position: relative;
        z-index: 5;
        transition: color .3s;
    }

    &:hover{
        &:before{
            height: 100%;
        }
    }
}

.headers{
    position: absolute;
    left: 10%;
    top: 5%;
    font-size: 3vmax;
    color:$mainTan;
}

#thirdPane{
    height: var(--page-height);
    background-color: $black;
    position: relative;

    #ourMission{
        background-color: $black;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10%;

        &:before{
            background-color: $mainTan;
        }

        span{
            color: $mainTan;
        }

        &:hover{
            #ourMissionSpan{
                color: $black;
            }
        }
    }
}

#fourthPane{
    height: var(--page-height);
    position: relative;
    background-color: $mainRed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


    #fourthContent{
        margin-top: 10%;
        position: relative;
        height: 50%;
        width: 90%;
        display: grid;
        grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
        place-items: center;
        gap: 10%;

        #imgNine{
            width: 50%;
        }

        img{
            width: 60%;
            height: auto;
        }
    }

    #seeMore{
        background-color: $mainRed;
        margin-top: 5%;


        &:before{
            background-color: $mainTan;
        }

        span{
            color: $mainTan;
        }

        &:hover{
            #seeMoreSpan{
                color: $mainRed;
            }
        }
    }
}

#fifthPane{
    height: calc(var(--page-height) * .80);
    background-color: $mainTan;
    padding: 0;
    display: grid;
    place-items: center;
    position: relative;
    text-align: center;

    #fifthContent{
        width: 60%;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        h3{
            font-size: 4vmax;
            font-weight: bold;
            margin: 0;
            padding: 0;
        }
        p{
            font-size: 2vmax;
        }
        label{
            display: none;
        }
        input{
            outline: none;
            border: 1px solid black;
            padding: 10%;
            background-color: $mainTan;
            margin-top: 35%;
            margin-left: -5%;

            &:invalid{
                border: 2px solid $mainRed;
            }

            &:valid{
                border: 2px solid #558c4f;
            }
        }
    }
    #emailSubmit{
        background-color: $mainTan;
        position: absolute;
        bottom: 10%;
        height: 6.25%;

        &:before{
            background-color: $mainRed;
        }

        span{
            color: $black;
        }

        &:hover{
            #emailSubmitSpan{
                color: $mainTan;
            }
        }
    }
}

#footerDiv{
    height: calc(var(--page-height) * .2);
    width: 100vw;
    display: grid;
    place-items: center;
    background-color: $mainRed;
    overflow: hidden;

    #footer{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 60%;

        a{
            text-decoration: none;
            color: $mainTan;
            font-size: 2vmax;
        }
    }
}

@media screen and (max-width: 1300px){#secondPane{.cardImg{top: 5%;}}}
@media screen and (max-width: 1100px){#secondPane{.cardImg{top: 8%;}}}
@media screen and (max-width: 1000px){#secondPane{.cardImg{top: 15%;}}}
@media screen and (max-width: 800px){
    .button{
        width: 25%;
        font-size: 2vmax;
    }

    .headers{
        font-size: 5vmax;
    }
    #secondPane{
        #cardDiv{
            flex-direction: column;
            margin-top: 15%;
        }
    
        .card{
            width: 80%;

        }

        .cardImg{
            left: 2%;
            top: 0px;
            display: relative;
        }

        .cardContent{
           left: 5%;
           position: relative;
           .cardContentText{
            width: 90%;
            height: 80%;
            position: absolute;
            top: 5%;
            left: 20%;
            display: grid;
            grid-template: 60% 50%/ 50% 30%;
            place-items: center;
            text-align: center;

            h3, p, img{
                position: relative;
            }

            .timing{
                position: unset;
                width: unset;

                img{
                    margin: 1vw;
                    width:3vw;
                }
            }
        }
        .down{
            width: 4vw;
            height: 4vw;
            position: static;
        }

    }

    #fourthPane{
        #fourthContent{
            margin-top: 20%;
            height: 70%;
            gap: 0;
        }
    }
}

@media screen and (max-width: 450px){
    #secondPane{

        #cardDiv{
            margin-top: 25%;
            height: 60%;
        }
        .card{
            width: 90%;
            left: 5%;
            display: relative;
            height: 25%;

            .cardImg{
                min-width: 88px;
                min-height: 88px;
            }
        }

        .cardContent{
            .cardContentText{
                .timing{
                    font-size: 3vw;
                }
            }

            h3{
                font-size: 4vw;
            }

            .cardText{
                font-size: 3vw;
            } }
        }
    }

    #fourthPane{
        #fourthContent{
            height: 50%;
        }
        h3{
            font-size: 6vmax;
        }
        p{
            font-size: 4vmax;
        }
    }

    #footerDiv{
        #footer{
            width: 95%;
        }
    }

}





