@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap");
:root {
  --page-height: 0px;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.full-height {
  height: 100%;
}

#dropdown {
  width: 100vw;
  top: 100%;
  height: 0vh;
  background-color: #4C102A;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: fixed;
  z-index: 1000;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#dropdown #ddColOne, #dropdown #ddColTwo {
  width: 20vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#dropdown #ddColOne a, #dropdown #ddColTwo a {
  -webkit-transition: color 1s;
  transition: color 1s;
  font-size: 4vmax;
  text-decoration: none;
  color: black;
}

#dropdown.showDD {
  height: 100vh;
  top: 0;
}

#dropdown.showDD #ddColOne a, #dropdown.showDD #ddColTwo a {
  color: #f1ede8;
}

#firstPane {
  width: 100vw;
  position: relative;
  height: calc(var(--page-height) * .9);
  background-color: #f1ede8;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: auto;
}

#firstPane #logo {
  position: absolute;
  left: 10%;
  top: 5%;
}

#firstPane #logo img {
  width: 25%;
  height: 25%;
}

#firstPane #dropdownOuter {
  position: fixed;
  right: 8%;
  top: 40px;
  z-index: 1001;
}

#firstPane #dropdownOuter #dropdownIcon.showDD span:after {
  border-bottom: 2px solid #f1ede8;
}

#firstPane #dropdownOuter #dropdownIcon.showDD #ddSpanOne {
  -webkit-transform: translate(-20%, 100%) rotate(45deg);
          transform: translate(-20%, 100%) rotate(45deg);
}

#firstPane #dropdownOuter #dropdownIcon.showDD #ddSpanTwo {
  opacity: 0;
}

#firstPane #dropdownOuter #dropdownIcon.showDD #ddSpanThree {
  -webkit-transform: translate(-1%, -135%) rotate(-45deg);
          transform: translate(-1%, -135%) rotate(-45deg);
}

#firstPane #dropdownOuter #dropdownIcon {
  width: 2.4vmax;
  height: 2.4vmax;
  cursor: pointer;
}

#firstPane #dropdownOuter #dropdownIcon span {
  position: relative;
  width: 100%;
  height: 0.8vmax;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#firstPane #dropdownOuter #dropdownIcon span:after {
  content: "";
  display: block;
  border-bottom: 2px solid #4C102A;
}

#firstPane #dropdownOuter #dropdownIcon #ddSpanOne:after, #firstPane #dropdownOuter #dropdownIcon #ddSpanThree:after {
  width: 80%;
}

#firstPane #dropdownOuter #dropdownIcon #ddSpanTwo:after {
  width: 40%;
}

#firstPane #firstPaneTextDiv {
  width: 50%;
  height: 40%;
}

#firstPane #firstPaneTextDiv #firstPaneText {
  font-size: 5vmax;
  text-align: center;
  color: #4C102A;
}

#secondPane {
  position: relative;
  height: var(--page-height);
  width: 100vw;
  background-color: #1B1620;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#secondPane #cardDiv {
  width: 80%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#secondPane .card {
  height: 80%;
  width: 25%;
  background-color: #1B1620;
  position: relative;
  z-index: 2;
}

#secondPane .cardImg {
  position: absolute;
  width: 80%;
  height: 50%;
  background-color: #4C102A;
  z-index: 4;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5px;
}

#secondPane .cardContent {
  position: absolute;
  height: 90%;
  width: 100%;
  background-color: #f1ede8;
  z-index: 3;
  bottom: 0;
  border-radius: 5px;
}

#secondPane #learnMore {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.2vmax;
  cursor: pointer;
  position: relative;
  outline: none;
  border: none;
  height: 5%;
  width: 10%;
  background-color: #f1ede8;
  bottom: 8%;
}

#secondPane #learnMore:before {
  content: "";
  z-index: 1;
  position: absolute;
  display: block;
  height: 1px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4C102A;
  -webkit-transition: height .3s;
  transition: height .3s;
}

#secondPane #learnMore #learnMoreSpan {
  position: relative;
  z-index: 5;
  color: #4C102A;
  -webkit-transition: color .3s;
  transition: color .3s;
}

#secondPane #learnMore:hover #learnMoreSpan {
  color: #f1ede8;
}

#secondPane #learnMore:hover:before {
  height: 100%;
}

#footerDiv {
  height: calc(var(--page-height) * .2);
  width: 100vw;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #4C102A;
  overflow: hidden;
}

#footerDiv #footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

#footerDiv #footer a {
  text-decoration: none;
  color: #f1ede8;
  font-size: 2vmax;
}
/*# sourceMappingURL=styles.css.map */